.wrapper {
  max-width: $wrapper;
  margin: 0 auto;
}

.container {
  max-width: $container + 30;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.block-box {
  text-align: center;
  color: $title-color-dark;
  &__caption {
    font-family: $third-font;
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
  }
  &__title {
    font-weight: bold;
    font-size: 3rem;
    font-family: $primary-font;
    position: relative;
    padding-bottom: 4rem;
    margin-bottom: 4.7rem;
    text-transform: uppercase;
    &::after {
      content: "";
      bottom: 0;
      @include blockCenter("left");
      @include bgc($fourth-color);
      @include size(6.2rem, 0.5rem);
    }
  }
  &__description {
    max-width: 970px;
    margin: 0 auto;
    font-size: 1.5rem;
    font-family: $secondary-font;
    color: $text-color;
    line-height: 1.6;
    word-break: break-all;
  }
  @include maxWidth(767px) {
    &__caption {
      font-size: 2.2rem;
    }
    &__title {
      font-size: 2.5rem;
      padding-bottom: 2.8rem;
      margin-bottom: 2.5rem;
    }
    &__description {
      font-size: 1.29rem;
    }
  }
}
