footer.footer 
  .container 
    .footer-list 
      .footer-column
        a(href="index.html").footer-column__logo MoGo
        p.footer-column__description Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet dignissimos dolorum odit corporis nostrum, in optio ab, aspernatur eaque sed aliquid voluptates, adipisci accusamus placeat voluptatibus beatae laudantium repudiandae sapiente!
        b.footer-column__number 15k
        span.footer-column__text followers
        .footer-social
          span.footer-social__italic Follwers: 
          .footer-social__list 
            a.footer-social__link(href="") 
              i.fab.fa-facebook-f
            a.footer-social__link(href="") 
              i.fab.fa-twitter
            a.footer-social__link(href="") 
              i.fab.fa-instagram
            a.footer-social__link(href="") 
              i.fab.fa-pinterest-p
            a.footer-social__link(href="") 
              i.fab.fa-google-plus-g
            a.footer-social__link(href="") 
              i.fab.fa-youtube
            a.footer-social__link(href="") 
              i.fab.fa-sketch
            a.footer-social__link(href="") 
              i.fab.fa-tumblr
        form.footer-form(action="") 
          input.footer-form__input(type="email" placeholder="Your Email..." required)
          button.footer-form__btn(type="submit") Subscribe

      .footer-column
        h4.footer-column__title Blogs
        .footer-articles 
          image.footer-articles__image(src= "../images/img-blogs1.png" alt="blog-image")
          .footer-articles__content
            h5.footer-articles__title Lorem ipsum dolor sit amet, consectetur adipiscing
            p.footer-articles__calendar Jan 9, 2016
        .footer-articles 
          image.footer-articles__image(src= "../images/img-blogs2.png" alt="blog-image")
          .footer-articles__content
            h5.footer-articles__title Consectetur adipiscing elit, sed do eiusmod tempor
            p.footer-articles__calendar Jan 9, 2016
        .footer-articles 
          image.footer-articles__image(src= "../images/img-blogs3.png" alt="blog-image")
          .footer-articles__content
            h5.footer-articles__title sed do eiusmod tempor incididunt ut labore
            p.footer-articles__calendar Jan 9, 2016

      .footer-column 
        h4.footer-column__title Instagram 
        .footer-gallery
          .footer-gallery__items
            image.footer-gallery__image(src="../images/instagram-1.jpg" alt="instagram-image")
          .footer-gallery__items
            image.footer-gallery__image(src="../images/instagram-2.jpg" alt="instagram-image")
          .footer-gallery__items
            image.footer-gallery__image(src="../images/instagram-3.jpg" alt="instagram-image")
          .footer-gallery__items
            image.footer-gallery__image(src="../images/instagram-4.jpg" alt="instagram-image")
          .footer-gallery__items
            image.footer-gallery__image(src="../images/instagram-5.jpg" alt="instagram-image")
          .footer-gallery__items
            image.footer-gallery__image(src="../images/instagram-6.jpg" alt="instagram-image")
          .footer-gallery__items
            image.footer-gallery__image(src="../images/instagram-7.jpg" alt="instagram-image")
          .footer-gallery__items
            image.footer-gallery__image(src="../images/instagram-8.jpg" alt="instagram-image")
          .footer-gallery__items
            image.footer-gallery__image(src="../images/instagram-9.jpg" alt="instagram-image")
          span.footer-gallery__more View more photos

.copyright
  .container.copyright__container
    span.copyright__text © 2016 MoGo free PSD template by
    a(href="https://www.facebook.com/khang171998/" target="__blank").copyright__dev Developer Khang Nguyễn