section.people
  .container 
    +blockBox({
    caption: "Happy Clients",
    title: "What people say"
  })
  
    .people-list
      +peopleItems("../images/img-people1.png", "people-avatar", "Matthew Dix", "Graphic Design", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.")
      +peopleItems("../images/img-people2.png", "people-avatar", "Nick Karvounis", "Graphic Design", "Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam")
      +peopleItems("../images/img-people3.png", "people-avatar", "Jaelynn Castillo", "Graphic Design", "Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam")
      +peopleItems("../images/img-people4.png", "people-avatar", "Mike Petrucci", "Graphic Design", "Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.")

