section.services 
  .container 
    +blockBox({
    caption: "We work with",
    title: "Amazing Services"
  })
    .services-container
      .services-list
        +servicesItems("Photography",
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.",
            "../images/img-service-icon1.png",
              "service-image")
        +servicesItems("Web Design",
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.",
            "../images/img-service-icon2.png",
              "service-image")
        +servicesItems("Creativity",
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.",
            "../images/img-service-icon3.png",
              "service-image")

      .services-list
        +servicesItems("Seo",
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.",
            "../images/img-service-icon4.png",
              "service-image")
        +servicesItems("CSS/HTML",
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.",
            "../images/img-service-icon5.png",
              "service-image")
        +servicesItems("Digital",
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.",
            "../images/img-service-icon6.png",
              "service-image")

