// color font website 
$primary-color: #e68582;
$secondary-color: #f0d38a;
$third-color: #95e1d3;
$fourth-color: #f38181;
$title-color-dark: #333333;
$title-color-light: #fff;
$text-color: #999999;
$gray-color: #f8f8f8;
$gray-secondary-color: #CCCCCC;
$gray-third-color: #F5F5F5;
$border-green: #B5EAE0;
$border-gray: #E5E5E5;

// font style website 
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$third-font: 'Kaushan Script', cursive;

// full width website
$wrapper: 1920px;
$container: 1200px;